<!doctype html>
<html>
  <head>
    <title>EmojiTrade</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.css" />

    <link href="style.css" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://use.typekit.net/wov4bfo.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body>
    <div id="emoji-trade" class="main-container">
      <div class="loading-symbol"></div>

      <div class="header" v-if="!(['search'].indexOf(this.$route.name) >= 0)">
        <div class="row middle-xs fade-in-after-render">
          <div class="col-xs-4">
            <h1 class="logo hide-mobile"><router-link to="/">emojitrade</router-link></h1>
          </div>
          <div class="col-xs-4 col-xs-offset-4 text-right">
          </div>
        </div>
      </div>

      <router-view :key="$route.path"></router-view>
    </div>

    <script type="text/x-template" id="search-home-page-template">
      <div class="gradient-bg">
        <search-form ref="emojiSearch"></search-form>
      </div>
    </script>

    <script type="text/x-template" id="search-form-template">
      <div class="search-form" v-bind:class="{ onTop: (['search'].indexOf(this.$route.name) < 0), 'fade-slide-in-after-render': !(['search'].indexOf(this.$route.name) < 0) }">
        <h1 class="logo" v-if="(['search'].indexOf(this.$route.name) >= 0)"><span>emoji</span>trade</h1>
        <input type="text" class="main-search" placeholder="Search for an emoji" v-bind:class="{ loading: loading }" v-bind:value="emojiName">
      </div>
    </script>

    <script type="text/x-template" id="view-emoji-page-template">
      <div class="view-emoji-page full-page">
        <search-form ref="emojiSearch"></search-form>

        <div class="emoji-info fade-in-after-render">
          <div class="row">
            <div class="col-xs-6">
              <h2><img :src="'images/emoji/' + emojiId + '.png'" class="info-emoji"><span class="hide-mobile"> current price: </span> ${{emojiPrice}}</h2>
            </div>

            <div class="col-xs-6 text-right">
              <ul class="range-select">
                <li><router-link :to="{ name: 'emoji-view', params: { emojiId: emojiId, duration: '30min' } }" v-bind:class="{ active: (currentDuration == '30min') }">30min</router-link></li>
                <li><router-link :to="{ name: 'emoji-view', params: { emojiId: emojiId, duration: '1hr' } }" v-bind:class="{ active: (currentDuration == '1hr') }">1hr</router-link></li>
                <li><router-link :to="{ name: 'emoji-view', params: { emojiId: emojiId, duration: '1day' } }" v-bind:class="{ active: (currentDuration == '1day') }">1day</router-link></li>
                <li><router-link :to="{ name: 'emoji-view', params: { emojiId: emojiId, duration: 'max' } }" v-bind:class="{ active: (currentDuration == 'max') }">max</router-link></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="full-height-chart fade-in-after-render" v-if="!errorPresent">
          <canvas class="emoji-chart"></canvas>
        </div>

        <div class="error text-center" v-if="errorPresent">
          <p><img src="images/emoji/1f494.png" alt=""></p>
          <h1>Oops!</h1>
          <h3>Something went wrong. Please try refreshing.</h3>
        </div>
      </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.1.3/vue-router.min.js"></script>

    <script src="app.js?12120171146"></script>
  </body>
</html>
